@font-face {
	font-family: "iA Writer Quattro";
	font-weight: normal;
	font-style: normal;
	src: url("iAWriterQuattroS-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "iA Writer Quattro";
	font-weight: bold;
	font-style: normal;
	src: url("iAWriterQuattroS-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "ET Book";
	font-weight: normal;
	font-style: normal;
	src: url("et-book-roman-line-figures.woff") format("woff");
}

@font-face {
	font-family: "ET Book";
	font-weight: normal;
	font-style: italic;
	src: url("et-book-display-italic-old-style-figures.woff") format("woff");
}

@font-face {
	font-family: "ET Book";
	font-weight: bold;
	font-style: normal;
	src: url("et-book-bold-line-figures.woff") format("woff");
}

@font-face {
	font-family: "Fira Code";
	src: url("FiraCode-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Fira Code";
	src: url("FiraCode-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}
