:root {
	--light-background-color: #fffff8;
	--light-text-color: #111;
	--light-highlight-color: #f3f3f0;
	--light-highlight-text-color: darkgray;

	--dark-background-color: rgba(42, 42, 46, 1);
	--dark-text-color: rgba(249, 249, 250, 1);
	--dark-highlight-color: #363636;
	--dark-highlight-text-color: dimgray;

	/* stuff */
	--panel-background-color: var(--light-background-color);
	--panel-text-color: var(--light-text-color);
	--panel-highlight-color: var(--light-highlight-color);
	--panel-highlight-text-color: var(--light-highlight-text-color);
	--panel-font-family: "iA Writer Quattro";
	--panel-font-size: medium;
	--panel-input-spacing: 0.05em;
	--panel-quote-spacing: -1.75ch;
	--panel-list-spacing: -1.75ch;
	--panel-h1-offset: -1.75ch;
	--panel-h2-offset: -2.75ch;
	--panel-h3-offset: -3.75ch;

	--background-color: var(--panel-background-color);
	--text-color: var(--panel-text-color);
	--highlight-color: var(--panel-highlight-color);
	--highlight-text-color: var(--panel-highlight-text-color);
	--font-family: var(--panel-font-family);
	--font-size: var(--panel-font-size);
	--input-spacing: var(--panel-input-spacing);
	--quote-spacing: var(--panel-quote-spacing);
	--list-spacing: var(--panel-list-spacing);
	--h1-offset: var(--panel-h1-offset);
	--h2-offset: var(--panel-h2-offset);
	--h3-offset: var(--panel-h3-offset);

	/* things */
	font-family: var(--font-family);
	font-size: var(--font-size);

	background-color: var(--background-color);
	color: var(--text-color);
}

/* Once Firefox & Chrome implement prefers-color-scheme we'll switch over */
/* https://bugzilla.mozilla.org/show_bug.cgi?id=1494034 */
/* https://bugs.chromium.org/p/chromium/issues/detail?id=889087 */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme */
/* @media (prefers-color-scheme: dark) {
	html {
		background-color: var(--dark-background-color);
		color: var(--dark-text-color);
	}
} */

html,
body,
main {
	height: 100%;
	margin: 0;
}

body {
	font-size: inherit;
	font-family: inherit;
}

main {
	display: flex;
	width: 100%;
}

#editor {
	padding: 1em 1em 0 3em;
	width: 1024px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

#editor > div {
	width: 60%;
	flex: 1;
}

#settings {
	min-width: fit-content;
	min-width: -moz-fit-content;
	padding: 1em;
	border-left: 2px solid var(--panel-highlight-color);
	align-self: baseline;

	background-color: var(--panel-background-color);
	color: var(--panel-text-color);

	font-size: var(--panel-font-size);
	font-family: var(--panel-font-family);
}

#settings h1 {
	text-indent: initial;
	color: var(--panel-text-color);
	border-bottom: 2px solid var(--panel-highlight-color);
}

#settings.hidden {
	display: none;
}

#settings label.heading {
	display: block;
}

#settings label.noselect {
	display: block;
	border-top-left-radius: 0.1em;
	border-bottom-left-radius: 0.1em;
	cursor: pointer;
	padding-left: 4px;
	margin-left: -4px;
}

#settings label.heading + label.noselect {
	padding-bottom: 0.1em;
}

#settings label.noselect input {
	cursor: pointer;
	outline: none;
}

#settings label.noselect input {
	-webkit-appearance: none;
	margin: 0 1ch;
}

#settings label.noselect input:after {
	font-size: var(--panel-font-size);
	font-family: var(--panel-font-family);
	color: var(--panel-text-color);
	letter-spacing: var(--panel-input-spacing);
	content: "[ ]";
}

#settings label.noselect input[type="radio"]:after {
	content: "( )";
}

#settings label.noselect input:checked:after {
	letter-spacing: 0;
	content: "[x]";
}

#settings label.noselect input[type="radio"]:checked:after {
	content: "(o)";
}

#settings label.noselect span.label {
	float: right;
	opacity: 0.4;
	margin-right: 0.5em;
}

#settings label.noselect:hover {
	background-color: var(--panel-highlight-color);
}

blockquote {
	border-radius: 1px;
	background-color: var(--highlight-color);
	text-indent: var(--quote-spacing);
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding-left: calc(0.5em - var(--quote-spacing));

	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
}

h1 {
	text-indent: var(--h1-offset);
	padding-bottom: 0;
	border-bottom: 2px solid var(--highlight-color);
}

h2 {
	text-indent: var(--h2-offset);
	padding-bottom: 2px;
	border-bottom: 2px solid var(--highlight-color);
}

h3 {
	text-indent: var(--h3-offset);
}

ul {
	padding-left: 2em;
}

li {
	display: block;
	text-indent: var(--list-spacing);
	/* padding-left: calc(0.5em - var(--quote-spacing)); */
	tab-size: 2;
	-moz-tab-size: 2;
}

figure {
	word-break: break-all;
	margin: 1em 0;
}

figcaption {
	margin-bottom: 1em;
}

.margin {
	position: relative;
	float: right;
	clear: right;
	margin-right: calc(-66%);
	width: 50%;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 1em;

	pointer-events: none;
}

img {
	max-width: 100%;
}

figure img {
	display: block;
	margin: auto;
}

.open {
	border-top-left-radius: 0.1em;
	border-bottom-left-radius: 0.1em;
	color: var(--highlight-text-color);
}

.close {
	border-top-right-radius: 0.1em;
	border-bottom-right-radius: 0.1em;
	color: var(--highlight-text-color);
}

.code,
.math {
	font-size: 1em;
	font-family: "Fira Code";
	padding-top: 0.1em;
	background-color: var(--highlight-color);
}

div.latex {
	pointer-events: none;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: text; /* Safari */
	-khtml-user-select: text; /* Konqueror HTML */
	-moz-user-select: text; /* Firefox */
	-ms-user-select: text; /* Internet Explorer/Edge */
	user-select: text; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* Links */

a {
	word-break: break-all;
	border-radius: 0.1em;
	color: inherit;
	padding: 0 0.1em;
	margin: 0 -0.1em;
}

body.cmd a {
	cursor: pointer;
}

body.cmd a:hover {
	background: var(--highlight-color);
}

/* Divider --- */

div.divider {
	display: flex;
	margin: 1em 0;
}

div.divider:after {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) calc(50%),
		var(--highlight-color) calc(50%),
		rgba(0, 0, 0, 0) calc(50% + 3px)
	);
	width: 100%;
	content: "";
	pointer-events: none;
}

div.divider > span {
	margin-right: 0.5em;
	min-width: max-content;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@media print {
	#settings,
	#settings * {
		display: none !important;
	}
}
